/* ----------- ESTILOS PARA LA PAGINA PRINCIPAL----------- */


/* Estilos para el contenedor de las tarjetas. Se muestra en línea, se justifica al centro, 
se establece un margen izquierdo y un índice Z negativo (lo que podría ser un error, 
ya que generalmente se usan índices Z positivos para elementos que se superponen). */
.container {
  display: inline-block;
  justify-content: center;
  margin-left: 33px;
  z-index: -1;
}

/* Estilos para las tarjetas individuales. Se define un ancho y alto específico, bordes redondeados, 
una sombra que crea un efecto de elevación, alineación central del contenido, una transición suave y 
negrita para el texto, y un margen inferior para separación visual. */
.CARDS1 {
  width: 280px;
  height: 250px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 0px solid rgba(255, 255, 255, 0);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  text-align: center;
  transition: all 0.5s;
  font-weight: bolder;
  color: black;
  margin-bottom: 50px;
}

/* Estilos para los encabezados en las tarjetas. Se establece un tamaño de fuente, peso de fuente más ligero, 
altura específica, color de texto y color de fondo con transparencia en la parte superior, 
y bordes redondeados solo en la parte superior. */
h4 {
  font-size: 23px;
  font-weight: lighter;
  height: 70px;
  color: black;
  background-color: rgba(255, 255, 255, 0.57);
  backdrop-filter:blur(8px);
  border-radius: 30px 30px 0px 0px;
  margin-bottom: 100px;
  padding-top: 15px;
}

/* Estilos para los botones en las tarjetas. Se establece el fondo con una transparencia, color de texto blanco,
tamaño de fuente, sin decoración de texto, relleno y bordes redondeados. */
.cardbtn {
  height: 50px;
  width: 120px;
  background: #002a55d7;
  backdrop-filter:blur(8px);
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  color: #ffffff;
  font-size: 15px;
}

/* Cambios de estilo cuando se coloca el cursor sobre los botones. Se aplica un aumento de escala y un ajuste de relleno 
para indicar interacción y se cambia el cursor a "pointer". */
.cardbtn:hover { 
  background: #0080ffd0;
  color: #ffffff;
  animation: btnprueba 0.9s both;
  cursor: pointer;
}

@keyframes btnprueba {
  0% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
 
  30% {
   -webkit-transform: scale3d(1.25, 0.75, 1);
   transform: scale3d(1.25, 0.75, 1);
  }
 
  40% {
   -webkit-transform: scale3d(0.75, 1.25, 1);
   transform: scale3d(0.75, 1.25, 1);
  }
 
  50% {
   -webkit-transform: scale3d(1.15, 0.85, 1);
   transform: scale3d(1.15, 0.85, 1);
  }
 
  65% {
   -webkit-transform: scale3d(0.95, 1.05, 1);
   transform: scale3d(0.95, 1.05, 1);
  }
 
  75% {
   -webkit-transform: scale3d(1.05, 0.95, 1);
   transform: scale3d(1.05, 0.95, 1);
  }
 
  100% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
}