/* ----------- ESTILOS PARA EL FORMULARIO DE EDITAR PRODUCTO ----------- */


/* Estilos para el contenedor del formulario. Se establece un margen para centrar el formulario en la página,
el ancho, un color de fondo con transparencia, relleno en la parte superior, derecha e inferior, 
bordes redondeados para suavizar la apariencia y un sombreado para un efecto de elevación. */
form {
    margin: 50px auto;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.87);
    backdrop-filter:blur(8px);
    padding: 25px 120px 10px 80px;
    border-radius: 20px;
}

/* Estilos para el encabezado de nivel 1 en el formulario. Se elimina el margen superior, 
se establece un tamaño de fuente y se define el color de texto. */
h1 {
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

/* Estilos para las etiquetas de los campos del formulario. Se muestra cada etiqueta en un bloque separado, 
con un pequeño margen inferior para separación visual. El color del texto es negro y 
se establece un peso de fuente más grueso. */
label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: lighter;
}

/* Estilos para los campos de entrada (input), áreas de texto (textarea) y selectores (select) del formulario.
Se define la fuente, el ancho, el relleno, el margen inferior, un borde con una transparencia en tonos de azul, 
bordes redondeados, y se desactiva el redimensionamiento y el desbordamiento. El fondo es de color "lightgray". */
input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 140, 255, 0);
    border-radius: 10px;
    resize: none;
    overflow: auto;
    outline: none;
    background-color:lightgray;
}

/* Estilos específicos para los selectores del formulario, aumentando ligeramente su ancho para alinearse con otros campos. */
select {
    width: 314px;
}

/* Estilos para la selección de texto dentro de los campos de entrada, áreas de texto y selectores. 
Se establece un borde transparente para que la selección de texto no tenga un borde visible. */
input, textarea, select::selection{
    border: transparent;
}

/* Estilos para el contenedor que alberga los botones. Se utiliza el modelo de visualización inline-flex 
para alinear horizontalmente los botones, y se establece un margen superior para separación visual. */
.btns {
    display:inline-flex;
    margin-top: 15px;
}

/* Estilos para los botones "Guardar" y "Regresar". Se definen el fondo, los bordes redondeados, 
el ancho y la altura de los botones. */
.btn_guardar {
    height: 45px;
    width: 145px;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #04bf00;
    outline: none;
    color: #04bf00;
    font-size: 15px;  
    font-weight: bold;
}

.btn_guardar:hover {
    background: #04bf00;
    color: #ffffff;
    animation: btnprueba 0.9s both;
    font-weight: lighter;
}

.btn_regresar {
    height: 45px;
    width: 120px;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #bf0000;
    outline: none;
    color: #bf0000;
    font-size: 15px;
    margin-left: 49px;
    font-weight: bold;
}

.btn_regresar:hover {
    background: #bf0000;
    color: #ffffff;
    animation: btnprueba 0.9s both;
    font-weight: lighter;
}
   
@keyframes btnprueba {
    0% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   
    30% {
     -webkit-transform: scale3d(1.25, 0.75, 1);
     transform: scale3d(1.25, 0.75, 1);
    }
   
    40% {
     -webkit-transform: scale3d(0.75, 1.25, 1);
     transform: scale3d(0.75, 1.25, 1);
    }
   
    50% {
     -webkit-transform: scale3d(1.15, 0.85, 1);
     transform: scale3d(1.15, 0.85, 1);
    }
   
    65% {
     -webkit-transform: scale3d(0.95, 1.05, 1);
     transform: scale3d(0.95, 1.05, 1);
    }
   
    75% {
     -webkit-transform: scale3d(1.05, 0.95, 1);
     transform: scale3d(1.05, 0.95, 1);
    }
   
    100% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
}

/* Cambios de estilo cuando se coloca el cursor sobre los botones. 
Se cambia el cursor a "pointer" para indicar interacción. */
.btn_guardar:hover,
.btn_regresar:hover {
    cursor: pointer;
}