{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Página principal</title>
    <link rel="stylesheet" href="static\styles\style_index.css">
</head>

<body>
    <div class="container">
        {% if 'Agregar Productos' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card1.jpg'); background-size: cover;">
            <h4>Agregue Productos Nuevos...</h4>
            <a href="/agregar-productos-form" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Agregar Categorías' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card2.jpg'); background-size: cover;">
            <h4>Agregue Categorías Nuevas...</h4>
            <a href="/agregar-categorias-form" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Agregar Venta' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card3.jpg'); background-size: cover;">
            <h4>Agregue Venta...</h4>
            <a href="/agregar-venta" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Editar Productos' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card4.jpg'); background-size: cover;">
            <h4>Editar Productos...</h4>
            <a href="/editar-productos" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Editar Categorías' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card5.jpg'); background-size: cover;">
            <h4>Editar Categorías...</h4>
            <a href="/editar-categorias" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Buscar Productos' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card6.jpg'); background-size: cover;">
            <h4>Buscar productos...</h4>
            <a href="/buscar-productos" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Productos Existentes..(PDF)' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card7.jpg'); background-size: cover;">
            <h4>Productos Existentes..(PDF)</h4>
            <a href="/reporte-inventario" target="_blank" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Historial de Ventas..(PDF)' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card8.jpg'); background-size: cover;">
            <h4>Historial de Ventas..(PDF)</h4>
            <a href="/reporte-ventas" target="_blank" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>

    <div class="container">
        {% if 'Productos Caducados..(PDF)' in acciones %}
        <div class="CARDS1" style="background-image: url('static/img/card5.jpg'); background-size: cover;">
            <h4>Productos Caducados..(PDF)</h4>
            <a href="/reporte-productos-caducados" target="_blank" class="cardbtn">Aquí</a>
        </div>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}