<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\styles\style_tyc.css">
    <title>Términos y Condiciones</title>
</head>

<body>
    <h1>
        Términos y Condiciones del Sistema de Punto de Venta con Inventario para el Negocio "Judoyeli"
    </h1>
    <p>
        Estos términos y condiciones establecen los derechos y obligaciones del usuario propietario del negocio
        "JUDOYELI" y la empresa "KDJU Software Company" con respecto al uso del sistema de punto de venta con inventario
        desarrollado para el negocio. Al utilizar el sistema, el propietario del negocio "JUDOYELI" acepta los
        siguientes términos y condiciones:
    </p>

    <h2>Licencia de Uso</h2>
    <p>
        KDJU Software Company otorga al propietario del negocio "JUDOYELI" una licencia no exclusiva, intransferible y
        limitada para utilizar el sistema de punto de venta con inventario en su negocio. Esta licencia es válida
        únicamente para el negocio "JUDOYELI" y no se permite su distribución, venta, sublicencia o uso para otros fines.
    </p>

    <h2>Propiedad Intelectual</h2>
    <p>
        El sistema de punto de venta con inventario, incluidos todos los derechos de autor, marcas registradas y otros
        derechos de propiedad intelectual relacionados con el software, son propiedad exclusiva de KDJU Software
        Company. El propietario del negocio "JUDOYELI" no adquiere ningún derecho de propiedad sobre el sistema, excepto los
        permitidos bajo esta licencia.
    </p>

    <h2>Responsabilidad del Propietario</h2>
    <p>
        El propietario del negocio "JUDOYELI" es el único responsable de la administración, uso y mantenimiento del
        sistema de punto de venta con inventario. KDJU Software Company no se hace responsable de ningún problema que surja
        debido a un uso indebido, mal funcionamiento o negligencia del propietario.
    </p>

    <h2>Actualizaciones y Mantenimiento</h2>
    <p>
        KDJU Software Company se esforzará por proporcionar actualizaciones periódicas del sistema de punto de venta con
        inventario para mejorar su funcionalidad y seguridad. El propietario del negocio "JUDOYELI" deberá aplicar estas
        actualizaciones para asegurar un correcto funcionamiento del sistema. Sin embargo, KDJU Software Company no
        garantiza la disponibilidad de actualizaciones o que el sistema funcionará sin interrupciones o errores.
    </p>

    <h2>Confidencialidad</h2>
    <p>
        El propietario del negocio "JUDOYELI" se compromete a mantener la confidencialidad de cualquier información
        confidencial o propiedad de KDJU Software Company a la que pueda acceder como parte del uso del sistema de punto
        de venta con inventario.
    </p>

    <h2>Seguridad de Datos</h2>
    <p>
        KDJU Software Company implementará medidas razonables para proteger los datos almacenados en el sistema de punto
        de venta con inventario. Sin embargo, el propietario del negocio "JUDOYELI" es responsable de tomar precauciones
        adicionales para proteger su información y datos comerciales.
    </p>

    <h2>Limitación de Responsabilidad</h2>
    <p>
        En ningún caso, KDJU Software Company será responsable de ningún daño directo, indirecto, incidental, especial o
        consecuente que surja del uso o la incapacidad de utilizar el sistema de punto de venta con inventario.
    </p>

    <h2>Rescisión</h2>
    <p>
        El propietario del negocio "JUDOYELI" puede rescindir esta licencia en cualquier momento dejando de utilizar el
        sistema de punto de venta con inventario. KDJU Software Company también se reserva el derecho de rescindir esta
        licencia en caso de incumplimiento de estos términos y condiciones.
    </p>

    <h2>Ley Aplicable</h2>
    <p>
        Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del país en el que se encuentra
        el negocio "JUDOYELI".
    </p>
    <br>
    <p class="p-final">
        Al utilizar el sistema de punto de venta con inventario de KDJU Software Company, el propietario del negocio
        "JUDOYELI" confirma que ha leído, entendido y aceptado estos términos y condiciones en su totalidad.
    </p>

</body>

</html>